<div class="bg" style="background-color: aliceblue;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Loading...">
        <div class="signup-container">
            <div class="parent">
                <div class="child">
                    <div nz-row class="imgDiv">
                        <div nz-col nzSpan="24">
                            <h1 style="margin-left: 80px;">Sign Up</h1>
                        </div>
                    </div>
                    <form nz-form [formGroup]="signupForm">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your username!">
                                <input nz-input  placeholder="Name" id="username" formControlName="username" />
                                <ng-template #usererror let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        Please input your username!
                                    </ng-container>
                                </ng-template>


                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzHasFeedback nzErrorTip="Please input a valid email!">
                                <input nz-input type="email" placeholder="Email" id="email" formControlName="email" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                                <input nz-input  placeholder="Password" 
                                type="password" id="password" formControlName="password" />
                                <ng-template #errorPass let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        Please input your password!
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('pattern')">
                                        Please input a valid password!
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                                <input nz-input  placeholder="Confirm Password" 
                                type="password" id="checkpassword" formControlName="confirmPassword" />
                                <ng-template #errorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        Please input your correct password!
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('confirm')">
                                        Please input a valid password!
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>


                        <button nz-button type="button" class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()">Register</button>
                        Or<a routerLink="/login">Login Now!</a>



                    </form>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
